
PORT_APP=8080
HOST_DB=localhost
PORT_DB=5433
NAME_DB=prestamo_facil
USER_DB=postgres
PASSWORD_DB=MySecretPassword@/
MODE_SQL=always
PGADMIN_PORT=8090
PGADMIN_USER=admin@admin.com
PGADMIN_PASSWORD=admin
